// fonts
$font-sharp-sans-no1-book: "UV Sharp Sans No1 Book", HelveticaNeue-Light, Helvetica, sans-serif;
$font-sharp-sans-no1-medium: "UV Sharp Sans No1 Medium", HelveticaNeue-Book, Helvetica, sans-serif;
$font-sharp-sans-no1-bold: "UV Sharp Sans No1 Bold", HelveticaNeue-Bold, Helvetica, sans-serif;
$font-copernicus: "Galaxie Copernicus", Georgia, Times, serif;
$font-nixie: "Nixie One", Georgia, Times, serif;
$font-geotica: "Geotica Three", Georgia, Times, serif;
// easing
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
// colors
$color-blue-light: #1488bb;
$color-blue-dark: #033142;