/*
    Reset + Defaults.
    Many properties thanks to normalize.css - git.io/normalize
*/
/* line 6, ../sass/normalize.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ie-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/normalize.scss */
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 24, ../sass/normalize.scss */
body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1em;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeSpeed;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 0px;
}

/* line 45, ../sass/normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 49, ../sass/normalize.scss */
div {
  display: block;
}

/* line 55, ../sass/normalize.scss */
span {
  display: inline-block;
}

/* line 59, ../sass/normalize.scss */
span {
  font-weight: inherit;
  font-style: inherit;
}

/* line 64, ../sass/normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 69, ../sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 74, ../sass/normalize.scss */
[hidden],
template {
  display: none;
}

/* line 79, ../sass/normalize.scss */
img {
  border: 0;
}

/* line 83, ../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 87, ../sass/normalize.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  color: #fff;
}

/* line 97, ../sass/normalize.scss */
ul, li {
  margin: 0;
  padding: 0;
}

/* line 102, ../sass/normalize.scss */
li {
  list-style: none;
}

/* line 106, ../sass/normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  border: 0 none;
  background: #fff;
  opacity: 0.2;
}

/* line 115, ../sass/normalize.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 120, ../sass/normalize.scss */
a {
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  text-decoration: none;
  background: transparent;
}

/* line 128, ../sass/normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 132, ../sass/normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 136, ../sass/normalize.scss */
small {
  font-size: .8em;
}

/* line 140, ../sass/normalize.scss */
sub, sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 147, ../sass/normalize.scss */
sup {
  top: -0.5em;
}

/* line 151, ../sass/normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 155, ../sass/normalize.scss */
pre {
  overflow: auto;
}

/* line 159, ../sass/normalize.scss */
code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

/* line 164, ../sass/normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 170, ../sass/normalize.scss */
button {
  overflow: visible;
}

/* line 174, ../sass/normalize.scss */
button, select {
  text-transform: none;
}

/* line 178, ../sass/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 186, ../sass/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 191, ../sass/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 197, ../sass/normalize.scss */
input {
  line-height: normal;
}

/* line 201, ../sass/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 207, ../sass/normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 212, ../sass/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 219, ../sass/normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 224, ../sass/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 230, ../sass/normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 235, ../sass/normalize.scss */
textarea {
  overflow: auto;
}

/* line 239, ../sass/normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 243, ../sass/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 248, ../sass/normalize.scss */
td, th {
  padding: 0;
}

/* line 252, ../sass/normalize.scss */
blockquote {
  font-style: normal;
  font-weight: normal;
}

/* line 261, ../sass/normalize.scss */
.left {
  text-align: left;
}

/* line 262, ../sass/normalize.scss */
.right {
  text-align: right;
}

/* line 263, ../sass/normalize.scss */
.center {
  text-align: center;
}

/* line 265, ../sass/normalize.scss */
.smaller {
  font-size: 80%;
}

/* line 274, ../sass/normalize.scss */
body {
  pointer-events: none;
}

/* line 275, ../sass/normalize.scss */
a, .link {
  pointer-events: auto;
}
